@model Chocolate;
@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>
<form method="post" asp-action="Criar">
    Tipo
    <input asp-for="Tipo" /><br />
    Recheio
    <input asp-for="Recheio" /><br />
    <input type="submit" value="Criar Chocolate" />
</form>


