@model List<Flor>
@{
    ViewData["Title"] = "Index";
}

<h1>Flores</h1>
<a href="/Flores/Criar">Adicionar Flor</a>

@foreach(var item in Model){
    <h4>@item.Especie - @item.Cor</h4>
    <p><strong>@item.Preco</strong> @item.Descricao</p>
}
