@{
    ViewData["Title"] = "Home Page";
    bool mostrar = false;


}

<div class="text-center">
   @if (mostrar)
   {
       <h1>Título de Mostrar</h1>
   }

   
    <h1 class="display-4">Loja Aleatória</h1>
 
</div>
